@model IEnumerable<DiscographyTracker.Models.SongListItem>

@{
    ViewBag.Title = "Index";
}

<h2>All Songs | @Html.ActionLink("Add Song to Album", "Create", null, new { @class = "btn btn-primary btn-large" })
    </h2>


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="thumbnail">
                    <img src="~/Content/defaultassets/song_default.jpg" alt="song_default_img">
                    <div class="caption">
                        <h3><span class="glyphicon glyphicon-user" aria-hidden="true"></span> - @item.SongName</h3>
                        <p>@item.ArtistName - @item.AlbumTitle</p>
                        <p>
                            @Html.ActionLink("Song Info", "Details", new { id = item.AlbumID }, new { @class = "btn btn-info btn-sm" })
                            @Html.ActionLink("Edit", "Edit", new { id = item.SongID }, new { @class = "btn btn-primary btn-sm" }) 
                            @Html.ActionLink("Delete", "Delete", new { id = item.SongID }, new { @class = "btn btn-primary btn-sm" }) 
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>