@model IEnumerable<DiscographyTracker.Models.ArtistListItem>

@{
    ViewBag.Title = "Index";
}

<h2>All Artists</h2>

<p>
    @Html.ActionLink("Add New Artist", "Create", null, new { @class = "btn btn-primary btn-large" })
</p>
<div class="container">
    @foreach (var item in Model)
    {
        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel col-xs">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" href="#collapse1">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> - @item.ArtistName</a>
                        </h4>
                        <div id="collapse1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <h6>Album Count: @item.AlbumCount</h6>
                            </div>
                            <div class="panel-footer">
                                @Html.ActionLink("Artist Info", "Details", new { id = item.ArtistID }, new { @class = "btn btn-primary btn-large" })
                                @Html.ActionLink("Add to My Crate", "AddToCrate", new { id = item.ArtistID }, new { @class = "btn btn-primary btn-large" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



