@model IEnumerable<DiscographyTracker.Models.ArtistListItem>

@{
    ViewBag.Title = "Index";
}

<h2>All Artists</h2>

<p>
    @Html.ActionLink("Add New Artist", "Create", null, new { @class = "btn btn-primary btn-large" })
</p>
<div class="container">
        <div class="col-sm">
            <div class="panel panel-primary">
                @foreach (var item in Model)
                {
                    <div class="panel col-sm">
                        <div class="panel-heading">
                            <h4>@item.ArtistName</h4>

                            <div class="panel-body">
                                <h6>Album Count: @item.AlbumCount</h6>
                            </div>
                            <div class="panel-footer">
                                @Html.ActionLink("Artist Info", "Details", new { id = item.ArtistID }, new { @class = "btn btn-primary btn-large" })
                                @Html.ActionLink("Add to My Crate", "AddToCrate", new { id = item.ArtistID }, new { @class = "btn btn-primary btn-large" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    
</div>

