@model IEnumerable<DiscographyTracker.Models.AlbumListItem>

@{
    ViewBag.Title = "Index";
}

<h2>All Albums | @Html.ActionLink("Add album to an artist", "Create", null, new { @class = "btn btn-primary btn-large" })</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="~/Content/defaultassets/default_album.jpg">
                <div class="caption">
                    <h3>@item.AlbumTitle</h3>
                    <h4>@item.ArtistName</h4>
                    <p>Release Date: @item.ReleaseDate</p>
                    <p>
                    @Html.ActionLink("Album Info", "Details", "Album", new { id = item.AlbumID }, new { @class = "btn btn-default btn-large" }) |
                    @Html.ActionLink($"Add {item.ArtistName} to My Crate", "AddToCrate", "User", new { id = item.ArtistID }, new { @class = "btn btn-primary btn-large" })
                    </p>
                </div>
            </div>
        </div>
    }
</div>